In [1]:
# Bring in snap counts for each year

import pandas as pd
import numpy as np

lb12 = "../Snap Count/lb/lb2012.csv"

snap_count12 = pd.read_csv(lb12)
snap_count12.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Von Miller,DEN,OLB,16,962,60.1,89.9,7.1,1.9,2.5,192.4,20.0
1,2,Zach Brown,TEN,ILB,16,742,46.4,65.8,12.5,0.7,1.1,147.8,19.9
2,3,Sean Lee,DAL,OLB,6,313,52.2,90.2,18.5,0.0,0.3,60.0,19.2
3,4,Luke Kuechly,CAR,ILB,16,921,57.6,87.6,17.8,0.1,0.1,171.9,18.7
4,5,Keith Rivers,NYG,OLB,11,233,21.2,22.3,18.9,0.0,0.9,41.5,17.8

In [2]:
# Clean up dataframes

snap_count12.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count12.head()

           Name Team Position  SnapsPlayed
0    Von Miller  DEN      OLB          962
1    Zach Brown  TEN      ILB          742
2      Sean Lee  DAL      OLB          313
3  Luke Kuechly  CAR      ILB          921
4  Keith Rivers  NYG      OLB          233

In [3]:
lb13 = "../Snap Count/lb/lb2013.csv"

snap_count13 = pd.read_csv(lb13)
snap_count13.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Vincent Rey,CIN,OLB,16,341,21.3,31.9,16.7,1.2,1.2,81.3,23.8
1,2,Brian Cushing,HOU,ILB,7,330,47.1,82.9,14.5,0.6,0.9,71.4,21.6
2,3,Lavonte David,TB,OLB,16,1022,63.9,98.0,14.2,0.6,1.2,208.1,20.4
3,4,Robert Mathis,IND,OLB,16,841,52.6,79.8,7.0,2.3,2.5,162.0,19.3
4,5,NaVorro Bowman,SF,ILB,16,1040,65.0,98.1,13.9,0.5,0.5,198.0,19.0

In [4]:
snap_count13.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count13.head()

             Name Team Position  SnapsPlayed
0     Vincent Rey  CIN      OLB          341
1   Brian Cushing  HOU      ILB          330
2   Lavonte David   TB      OLB         1022
3   Robert Mathis  IND      OLB          841
4  NaVorro Bowman   SF      ILB         1040

In [5]:
lb14 = "../Snap Count/lb/lb2014.csv"

snap_count14 = pd.read_csv(lb14)
snap_count14.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Chris Borland,SF,ILB,14,476,34.0,53.2,22.5,0.2,0.2,118.2,24.8
1,2,Devon Kennard,NYG,OLB,12,333,27.8,31.6,12.9,1.4,1.2,72.7,21.8
2,3,Stephen Tulloch,DET,ILB,3,138,46.0,76.7,14.5,1.4,1.4,29.7,21.5
3,4,Cordarro Law,LAC,OLB,3,74,24.7,10.0,12.2,1.4,1.4,15.2,20.5
4,5,Bruce Carter,DAL,ILB,13,521,40.1,51.2,13.1,0.2,0.6,96.9,18.6

In [6]:
snap_count14.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count14.head()

              Name Team Position  SnapsPlayed
0    Chris Borland   SF      ILB          476
1    Devon Kennard  NYG      OLB          333
2  Stephen Tulloch  DET      ILB          138
3     Cordarro Law  LAC      OLB           74
4     Bruce Carter  DAL      ILB          521

In [7]:
lb15 = "../Snap Count/lb/lb2015.csv"

snap_count15 = pd.read_csv(lb15)
snap_count15.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Denzel Perryman,LAC,ILB,14,386,27.6,38.5,18.9,0.5,0.8,82.8,21.5
1,2,Lamarr Houston,CHI,OLB,16,419,26.2,40.5,10.0,1.9,3.1,88.3,21.1
2,3,Wesley Woodyard,TEN,ILB,16,500,31.2,47.2,17.4,1.0,1.2,104.3,20.9
3,4,Phillip Hunt,NO,OLB,2,49,24.5,10.2,14.3,2.0,2.0,10.2,20.8
4,5,Luke Kuechly,CAR,ILB,13,766,58.9,69.6,15.4,0.1,0.7,148.5,19.4

In [8]:
snap_count15.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count15.head()

              Name Team Position  SnapsPlayed
0  Denzel Perryman  LAC      ILB          386
1   Lamarr Houston  CHI      OLB          419
2  Wesley Woodyard  TEN      ILB          500
3     Phillip Hunt   NO      OLB           49
4     Luke Kuechly  CAR      ILB          766

In [9]:
lb16 = "../Snap Count/lb/lb2016.csv"

snap_count16 = pd.read_csv(lb16)
snap_count16.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Ray Ray Armstrong,SF,ILB,2,69,34.5,6.0,11.6,0.0,0.0,16.5,23.9
1,2,NaVorro Bowman,SF,ILB,4,252,63.0,22.0,13.9,0.4,0.8,46.3,18.4
2,3,Nathan Stupar,NO,ILB,16,376,23.5,35.8,14.9,0.3,0.3,67.5,18.0
3,4,Luke Kuechly,CAR,ILB,10,655,65.5,61.3,15.6,0.3,0.6,115.6,17.6
4,5,Khalil Mack,OAK,OLB,16,949,59.3,90.5,7.7,1.2,2.8,165.7,17.5

In [10]:
snap_count16.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count16.head()

                Name Team Position  SnapsPlayed
0  Ray Ray Armstrong   SF      ILB           69
1     NaVorro Bowman   SF      ILB          252
2      Nathan Stupar   NO      ILB          376
3       Luke Kuechly  CAR      ILB          655
4        Khalil Mack  OAK      OLB          949

In [11]:
lb17 = "../Snap Count/lb/lb2017.csv"

snap_count17 = pd.read_csv(lb17)
snap_count17.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Sean Lee,DAL,OLB,11,625,56.8,60.4,16.2,0.0,0.2,106.5,17.0
1,1,Jerrell Freeman,CHI,ILB,1,56,56.0,7.7,17.9,0.0,0.0,9.5,17.0
2,3,Martrell Spaight,WAS,OLB,15,414,27.6,37.7,17.9,0.0,0.2,69.5,16.8
3,4,Vince Williams,PIT,ILB,16,738,46.1,75.1,12.1,1.1,1.9,123.5,16.7
4,5,Telvin Smith,JAX,OLB,14,851,60.8,82.1,12.0,0.1,0.2,139.5,16.4

In [12]:
snap_count17.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count17.head()

               Name Team Position  SnapsPlayed
0          Sean Lee  DAL      OLB          625
1   Jerrell Freeman  CHI      ILB           56
2  Martrell Spaight  WAS      OLB          414
3    Vince Williams  PIT      ILB          738
4      Telvin Smith  JAX      OLB          851

In [13]:
lb18 = "../Snap Count/lb/lb2018.csv"

snap_count18 = pd.read_csv(lb18)
snap_count18.head()

,Rank,Name,Team,Position,Played,SnapsPlayed,SnapsPerGame,SnapsPlayedPercentage,TackleSnapPercentage,SackSnapPercentage,QuarterbackHitSnapPercentage,FantasyPoints,FantasyPointSnapPercentage
0,1,Khalil Mack,CHI,OLB,5,253,50.6,79.8,7.5,2.0,2.4,66.00,26.1
1,2,Lorenzo Alexander,BUF,OLB,6,204,34.0,51.8,13.7,1.2,2.0,50.85,24.9
2,3,Von Miller,DEN,OLB,7,355,50.7,74.9,8.2,2.1,3.9,83.95,23.6
3,4,Darius Leonard,IND,OLB,5,367,73.4,84.0,16.9,1.1,1.1,86.40,23.5
4,5,Kenny Young,BAL,OLB,6,185,30.8,46.8,14.6,1.4,2.7,38.55,20.8

In [14]:
snap_count18.drop(['Rank', 'Played', 'SnapsPerGame', 'SnapsPlayedPercentage', 'TackleSnapPercentage',
                   'SackSnapPercentage', 'QuarterbackHitSnapPercentage','FantasyPoints',
                   'FantasyPointSnapPercentage'], axis=1, inplace=True)
snap_count18.head()

                Name Team Position  SnapsPlayed
0        Khalil Mack  CHI      OLB          253
1  Lorenzo Alexander  BUF      OLB          204
2         Von Miller  DEN      OLB          355
3     Darius Leonard  IND      OLB          367
4        Kenny Young  BAL      OLB          185

In [15]:
# Combine the Data Frames for LBs

lb_frames = [snap_count12, snap_count13, snap_count14, snap_count15, snap_count16, snap_count17, snap_count18]
lb_result = pd.concat(lb_frames)

In [16]:
lb_result.head()

           Name Team Position  SnapsPlayed
0    Von Miller  DEN      OLB          962
1    Zach Brown  TEN      ILB          742
2      Sean Lee  DAL      OLB          313
3  Luke Kuechly  CAR      ILB          921
4  Keith Rivers  NYG      OLB          233

In [17]:
lb_result.drop(['Team', 'Position'], axis=1, inplace=True)
lb_result.head()

           Name  SnapsPlayed
0    Von Miller          962
1    Zach Brown          742
2      Sean Lee          313
3  Luke Kuechly          921
4  Keith Rivers          233

In [18]:
lb_result.set_index('Name')

                    SnapsPlayed
Name
Von Miller                  962
Zach Brown                  742
Sean Lee                    313
Luke Kuechly                921
Keith Rivers                233
Demorrio Williams           358
Daryl Washington           1058
Kavell Conner               324
Aldon Smith                1003
Bobby Wagner                850
Anthony Spencer             847
Dannell Ellerbe             651
AJ Hawk                     734
Dont'a Hightower            568
Wesley Woodyard             877
Lawrence Timmons            984
Mason Foster                739
Bryan Scott                 590
Brian Orakpo                 83
Clay Matthews               727
Bront Bird                  111
Derrick Johnson             963
John Abraham                732
Junior Galette              298
Kelvin Sheppard             504
Lavonte David              1059
Akeem Ayers                 861
Craig Robertson             612
London Fletcher            1008
Chase Blackburn             783
...                         ...
Bobby Wagner                321
Derrick Johnson             153
Breeland Speaks             193
Kyle Van Noy                335
Manti Te'o                   62
Raekwon McMillan            321
Ray Ray Armstrong           186
Mark Barron                  88
Christian Kirksey           287
Samson Ebukam               297
Dont'a Hightower            290
Brandon Copeland            261
Anthony Barr                380
Clay Matthews               273
Brock Coyle                  61
Connor Barwin               203
Rashaan Evans               184
De'Vondre Campbell          384
Brian Orakpo                282
Leonard Floyd               224
Adarius Taylor              117
Derrick Morgan              218
Brandon Marshall            369
Dominique Easley             62
Preston Smith               249
Kareem Martin               289
Matt Longacre               151
Ryan Kerrigan               239
Whitney Mercilus            333
A.J. Johnson                 39

[1043 rows x 1 columns]

In [19]:
lb_snap_total = lb_result.groupby(['Name']).sum()

In [20]:
lb_snap_total.to_csv('Sum_LB_Snap_Count.csv')

In [21]:
lb_snap_total

                   SnapsPlayed
Name
A.J. Johnson                39
AJ Hawk                   2565
AJ Klein                  1848
Aaron Lynch               1822
Adarius Taylor             402
Ahmad Brooks              4555
Akeem Ayers               2867
Akeem Dent                 861
Akeem Jordan               800
Albert McClellan          1029
Aldon Smith               2514
Alec Ogletree             4752
Alex Anzalone              281
Andrew Gachkar             382
Andy Mulumba               298
Anthony Barr              3936
Anthony Chickillo          316
Anthony Hitchens          2624
Anthony Spencer           1253
Anthony Walker             281
Antonio Morrison          1145
Antwan Barnes              146
Ashlee Palmer              355
Audie Cole                 323
Austin Calitro             127
Avery Moss                 248
Avery Williamson          3724
BJ Goodson                 535
Barkevious Mingo          2090
Bart Scott                 572
...                        ...
Stephen Nicholas           873
Stephen Tulloch           2915
Stephone Anthony           991
TJ Watt                   1130
Tahir Whitehead           3574
Takeo Spikes               700
Tamba Hali                4269
Telvin Smith              3996
Terrance Smith             168
Terrell Suggs             4009
Thomas Davis              5556
Tim Dobbins                389
Todd Davis                1572
Tremaine Edmunds           394
Trent Cole                3186
Ufomba Kamalu              272
Vince Williams            1481
Vincent Rey               3207
Von Miller                5388
Vontaze Burfict           3954
Wesley Woodyard           4818
Whitney Mercilus          4385
Will Compton              2013
Will Witherspoon           388
Willie Young              3113
Za'Darius Smith           1691
Zach Brown                4049
Zach Cunningham           1164
Zach Orr                   961
Zach Vigil                 396

[361 rows x 1 columns]