In [1]:
# Bring in WR Stats for each year

import pandas as pd
import numpy as np

wr12 = "../WR Data/stats/wr2012.csv"

stats12 = pd.read_csv(wr12)
stats12.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Calvin Johnson,DET,WR,16,204,122,59.8,1964,5,...,9.6,16.1,0,0,0.0,0,3,3,13.8,220.4
1,2,Brandon Marshall,CHI,WR,16,194,118,60.8,1508,11,...,7.8,12.8,1,-2,-2.0,0,2,0,13.5,216.6
2,3,Dez Bryant,DAL,WR,16,138,92,66.7,1382,12,...,10.0,15.0,2,-5,-2.5,0,5,2,13.0,207.7
3,4,AJ Green,CIN,WR,16,164,97,59.1,1350,11,...,8.2,13.9,4,38,9.5,0,2,1,12.7,202.8
4,5,Demaryius Thomas,DEN,WR,16,141,94,66.7,1434,10,...,10.2,15.3,0,0,0.0,0,3,3,12.3,197.4

In [2]:
# Clean up dataframes

stats12.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats12.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Calvin Johnson,DET,WR,122,1964,5
1,Brandon Marshall,CHI,WR,118,1508,11
2,Dez Bryant,DAL,WR,92,1382,12
3,AJ Green,CIN,WR,97,1350,11
4,Demaryius Thomas,DEN,WR,94,1434,10

In [3]:
wr13 = "../WR Data/stats/wr2013.csv"

stats13 = pd.read_csv(wr13)
stats13.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Josh Gordon,CLE,WR,14,159,87,54.7,1646,9,...,10.4,18.9,5,88,17.6,0,0,0,16.2,227.4
1,2,Demaryius Thomas,DEN,WR,16,142,92,64.8,1430,14,...,10.1,15.5,0,0,0.0,0,1,0,14.2,227.0
2,3,Calvin Johnson,DET,WR,14,156,84,53.8,1492,12,...,9.6,17.8,0,0,0.0,0,1,1,15.7,219.2
3,4,AJ Green,CIN,WR,16,178,98,55.1,1426,11,...,8.0,14.6,0,0,0.0,0,1,0,13.0,208.6
4,5,Brandon Marshall,CHI,WR,16,164,100,61.0,1295,12,...,7.9,13.0,0,0,0.0,0,0,0,12.8,205.5

In [4]:
stats13.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats13.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Josh Gordon,CLE,WR,87,1646,9
1,Demaryius Thomas,DEN,WR,92,1430,14
2,Calvin Johnson,DET,WR,84,1492,12
3,AJ Green,CIN,WR,98,1426,11
4,Brandon Marshall,CHI,WR,100,1295,12

In [5]:
wr14 = "../WR Data/stats/wr2014.csv"

stats14 = pd.read_csv(wr14)
stats14.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Antonio Brown,PIT,WR,16,181,129,71.3,1698,13,...,9.4,13.2,4,13,3.2,0,2,2,15.7,251.9
1,2,Demaryius Thomas,DEN,WR,16,184,111,60.3,1619,11,...,8.8,14.6,0,0,0.0,0,0,0,14.4,229.9
2,2,Jordy Nelson,GB,WR,16,151,98,64.9,1519,13,...,10.1,15.5,0,0,0.0,0,0,0,14.4,229.9
3,4,Dez Bryant,DAL,WR,16,136,88,64.7,1320,16,...,9.7,15.0,0,0,0.0,0,0,0,14.2,228.0
4,5,Odell Beckham Jr,NYG,WR,12,130,91,70.0,1305,12,...,10.0,14.3,7,35,5.0,0,1,1,17.0,204.0

In [6]:
stats14.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats14.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Antonio Brown,PIT,WR,129,1698,13
1,Demaryius Thomas,DEN,WR,111,1619,11
2,Jordy Nelson,GB,WR,98,1519,13
3,Dez Bryant,DAL,WR,88,1320,16
4,Odell Beckham Jr,NYG,WR,91,1305,12

In [7]:
wr15 = "../WR Data/stats/wr2015.csv"

stats15 = pd.read_csv(wr15)
stats15.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Antonio Brown,PIT,WR,16,193,136,70.5,1834,10,...,9.5,13.5,3,28,9.3,0,3,2,15.4,246.2
1,2,Julio Jones,ATL,WR,16,203,136,67.0,1871,8,...,9.2,13.8,0,0,0.0,2,3,1,15.3,245.1
2,3,Brandon Marshall,NYJ,WR,16,173,109,63.0,1502,14,...,8.7,13.8,0,0,0.0,0,3,2,14.4,230.2
3,4,Allen Robinson,JAX,WR,16,151,80,53.0,1400,14,...,9.3,17.5,0,0,0.0,0,0,0,14.0,224.0
4,5,Odell Beckham Jr,NYG,WR,15,158,96,60.8,1450,13,...,9.2,15.1,1,3,3.0,0,2,0,14.9,223.3

In [8]:
stats15.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats15.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Antonio Brown,PIT,WR,136,1834,10
1,Julio Jones,ATL,WR,136,1871,8
2,Brandon Marshall,NYJ,WR,109,1502,14
3,Allen Robinson,JAX,WR,80,1400,14
4,Odell Beckham Jr,NYG,WR,96,1450,13

In [9]:
wr16 = "../WR Data/stats/wr2016.csv"

stats16 = pd.read_csv(wr16)
stats16.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Mike Evans,TB,WR,16,173,96,55.5,1321,12,...,7.6,13.8,0,0,0.0,0,0,0,13.0,208.1
1,2,Jordy Nelson,GB,WR,16,152,97,63.8,1257,14,...,8.3,13.0,0,0,0.0,0,1,1,13.0,207.7
2,3,Antonio Brown,PIT,WR,15,154,106,68.8,1284,12,...,8.3,12.1,3,9,3.0,0,0,0,13.4,201.3
3,4,Odell Beckham Jr,NYG,WR,16,169,101,59.8,1367,10,...,8.1,13.5,1,9,9.0,0,3,1,12.2,195.6
4,5,T.Y. Hilton,IND,WR,16,155,91,58.7,1448,6,...,9.3,15.9,0,0,0.0,0,0,0,11.4,182.8

In [10]:
stats16.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats16.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Mike Evans,TB,WR,96,1321,12
1,Jordy Nelson,GB,WR,97,1257,14
2,Antonio Brown,PIT,WR,106,1284,12
3,Odell Beckham Jr,NYG,WR,101,1367,10
4,T.Y. Hilton,IND,WR,91,1448,6

In [11]:
wr17 = "../WR Data/stats/wr2017.csv"

stats17 = pd.read_csv(wr17)
stats17.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,DeAndre Hopkins,HOU,WR,15,174,96,55.2,1378,13,...,7.9,14.4,0,0,0.0,0,1,1,14.3,213.8
1,2,Antonio Brown,PIT,WR,14,163,101,62.0,1533,9,...,9.4,15.2,0,0,0.0,0,4,0,15.0,209.3
2,3,Keenan Allen,LAC,WR,16,159,102,64.2,1393,6,...,8.8,13.7,2,9,4.5,1,1,0,11.4,182.2
3,4,Tyreek Hill,KC,WR,15,105,75,71.4,1183,7,...,11.3,15.8,17,59,3.5,0,2,0,10.9,164.2
4,5,Marvin Jones,DET,WR,16,107,61,57.0,1101,9,...,10.3,18.0,0,0,0.0,0,0,0,10.3,164.1

In [12]:
stats17.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats17.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,DeAndre Hopkins,HOU,WR,96,1378,13
1,Antonio Brown,PIT,WR,101,1533,9
2,Keenan Allen,LAC,WR,102,1393,6
3,Tyreek Hill,KC,WR,75,1183,7
4,Marvin Jones,DET,WR,61,1101,9

In [13]:
wr18 = "../WR Data/stats/wr2018.csv"

stats18 = pd.read_csv(wr18)
stats18.head()

,Rank,Name,Team,Position,Played,ReceivingTargets,Receptions,ReceptionPercentage,ReceivingYards,ReceivingTouchdowns,...,ReceivingYardsPerTarget,ReceivingYardsPerReception,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGame,FantasyPoints
0,1,Tyreek Hill,KC,WR,6,51,34,66.7,567,6,...,11.1,16.7,8,37,4.6,0,0,0,16.1,96.40
1,2,Adam Thielen,MIN,WR,6,81,58,71.6,712,4,...,8.8,12.3,0,0,0.0,0,0,0,15.9,95.20
2,3,Emmanuel Sanders,DEN,WR,7,61,46,75.4,603,3,...,9.9,13.1,2,53,26.5,1,0,0,13.5,94.72
3,4,Davante Adams,GB,WR,6,71,47,66.2,557,6,...,7.8,11.9,0,0,0.0,0,0,0,15.3,91.70
4,5,Antonio Brown,PIT,WR,6,72,40,55.6,478,6,...,6.6,12.0,0,0,0.0,0,0,0,14.0,83.80

In [14]:
stats18.drop(['Rank', 'Played', 'ReceivingTargets', 'ReceptionPercentage', 'ReceivingLong',
                   'ReceivingYardsPerTarget', 'ReceivingYardsPerReception', 'RushingAttempts',
                   'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'Fumbles',
                   'FumblesLost', 'FantasyPointsPerGame', 'FantasyPoints'], axis=1, inplace=True)
stats18.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Tyreek Hill,KC,WR,34,567,6
1,Adam Thielen,MIN,WR,58,712,4
2,Emmanuel Sanders,DEN,WR,46,603,3
3,Davante Adams,GB,WR,47,557,6
4,Antonio Brown,PIT,WR,40,478,6

In [15]:
# Combine the Data Frames for WR’s

wr_frames = [stats12, stats13, stats14, stats15, stats16, stats17, stats18]
wr_result = pd.concat(wr_frames)

In [16]:
wr_result.head()

,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,Calvin Johnson,DET,WR,122,1964,5
1,Brandon Marshall,CHI,WR,118,1508,11
2,Dez Bryant,DAL,WR,92,1382,12
3,AJ Green,CIN,WR,97,1350,11
4,Demaryius Thomas,DEN,WR,94,1434,10

In [17]:
import pandas as pd
import numpy as np

wr_data = "../Totals_Data/WR_Total_data.csv"

wr = pd.read_csv(wr_data)
wr.head()

,Unnamed: 0,Name,Team,Position,Receptions,ReceivingYards,ReceivingTouchdowns
0,0,Calvin Johnson,DET,WR,122,1964,5
1,1,Brandon Marshall,CHI,WR,118,1508,11
2,2,Dez Bryant,DAL,WR,92,1382,12
3,3,AJ Green,CIN,WR,97,1350,11
4,4,Demaryius Thomas,DEN,WR,94,1434,10

In [18]:
wr.drop(['Unnamed: 0', 'Team', 'Position'], axis=1, inplace=True)
wr.head()

               Name  Receptions  ReceivingYards  ReceivingTouchdowns
0    Calvin Johnson         122            1964                    5
1  Brandon Marshall         118            1508                   11
2        Dez Bryant          92            1382                   12
3          AJ Green          97            1350                   11
4  Demaryius Thomas          94            1434                   10

In [19]:
wr.set_index('Name')

                   Receptions  ReceivingYards  ReceivingTouchdowns
Name
Calvin Johnson            122            1964                    5
Brandon Marshall          118            1508                   11
Dez Bryant                 92            1382                   12
AJ Green                   97            1350                   11
Demaryius Thomas           94            1434                   10
Vincent Jackson            72            1384                    8
Eric Decker                85            1064                   13
Andre Johnson             112            1598                    4
Julio Jones                79            1198                   10
Roddy White                92            1351                    7
Wes Welker                118            1354                    6
Marques Colston            83            1154                   10
Victor Cruz                86            1092                   10
Michael Crabtree           85            1105                    9
Reggie Wayne              106            1355                    5
James Jones                64             784                   14
Mike Williams              63             996                    9
Randall Cobb               80             954                    8
Steve Smith                73            1174                    4
Lance Moore                65            1041                    6
Steve Johnson              79            1046                    6
Cecil Shorts               55             979                    7
Torrey Smith               49             855                    8
T.Y. Hilton                50             861                    7
Mike Wallace               64             836                    8
Miles Austin               66             943                    6
Jeremy Maclin              69             857                    7
Brandon Lloyd              74             911                    4
Justin Blackmon            64             865                    5
Jordy Nelson               49             745                    7
...                       ...             ...                  ...
Cam Sims                    0               0                    0
Janarion Grant              0               0                    0
Kevin White                 0               0                    0
Robert Tonyan Jr.           0               0                    0
Brandon LaFell              0               0                    0
Bradley Marquez             0               0                    0
Pharoh Cooper               0               0                    0
Charone Peake               0               0                    0
Mike Thomas                 0               0                    0
Keon Hatcher                0               0                    0
Jehu Chesson                0               0                    0
Geremy Davis                0               0                    0
Jojo Natson                 0               0                    0
Keenan Reynolds             0               0                    0
Daniel Brown                0               0                    0
Cody Core                   0               0                    0
Dan Arnold                  0               0                    0
Justin Watson               0               0                    0
Javon Wims                  0               0                    0
Brice Butler                0               0                    0
Nick Williams               0               0                    0
Brandon Tate                0               0                    0
Cayleb Jones                0               0                    0
Michael Floyd               0               0                    0
Cameron Batson              0               0                    0
Ray-Ray McCloud             3              15                    0
Rod Streater                0               0                    0
Kaelin Clay                 0               0                    0
Riley McCarron              0               0                    0
JJ Jones                    0               0                    0

[1516 rows x 3 columns]

In [20]:
wr_sum = wr.groupby(['Name']).sum()

In [21]:
# Put Data into New CSV
wr_sum.to_csv('Sum_WR_Data.csv')

In [22]:
wr_sum

                   Receptions  ReceivingYards  ReceivingTouchdowns
Name
AJ Green                  524            7650                   55
AJ Jenkins                 17             223                    0
Aaron Burbridge             7              88                    0
Aaron Dobson               53             698                    4
Ace Sanders                57             539                    1
Adam Humphries            159            1696                    4
Adam Thielen              238            3236                   14
Albert Wilson             147            1903                   11
Aldrick Robinson           72            1233                   11
Alex Erickson              24             291                    1
Allen Hurns               197            2753                   22
Allen Robinson            226            3129                   24
Alshon Jeffery            379            5556                   38
Amara Darboh                8              71                    0
Amari Cooper              224            3179                   19
Andre Caldwell             32             337                    5
Andre Holmes              122            1653                   15
Andre Johnson             356            4529                   18
Andre Roberts             170            2022                   10
Andrew Hawkins            186            2157                    9
Andrew Turzilli             2              25                    0
Andy Jones                  0               0                    0
Anquan Boldin             369            4535                   28
Anthony Armstrong           3              12                    0
Anthony Miller              9              89                    2
Antonio Brown             688            9113                   63
Antonio Callaway           15             186                    1
Ardarius Stewart            6              82                    0
Armanti Edwards             6             131                    0
Armon Binns                24             277                    1
...                       ...             ...                  ...
Tony Washington             1               9                    0
Tori Gurley                 1              15                    0
Torrey Smith              264            4220                   34
Travis Benjamin           192            2930                   18
Travis Rudolph              8             101                    0
Tre McBride                10             152                    1
Tre'Quan Smith              4             129                    2
Trent Sherfield             0               0                    0
Trent Taylor               59             555                    3
Trevor Davis                8              94                    1
Trey Quinn                  0               0                    0
Trindon Holliday            2              17                    0
Tyler Boyd                113            1283                    7
Tyler Lockett             160            2176                   14
Tyler Murphy                1              16                    0
Tyreek Hill               170            2343                   19
Tyrell Williams           130            2187                   15
Victor Bolden Jr.           1              10                    0
Victor Cruz               221            3013                   16
Vince Mayle                 0               0                    0
Vincent Brown              54             612                    1
Vincent Jackson           268            4326                   20
Vyncint Smith               1              28                    0
Walter Powell              14             142                    0
Wendall Williams            4              75                    0
Wes Welker                253            2698                   18
Will Fuller                96            1369                   12
Willie Snead              179            2284                    8
Zach Pascal                14             124                    1
Zay Jones                  43             515                    3

[541 rows x 3 columns]